body{
  background-color:white;
  width: 100vw;

}


.navLink {
  background-color: #F6F1C2;
  box-sizing: border-box;
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  color: #D68E40;
}
.ToDoList{
  color: #697D65;
  text-decoration-color: #697D65;
}
.add{
  display: flex;
  justify-content: center;
  background-color: #B5D4A7;
  color: white;
  box-sizing: border-box;
}